.Hidden {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(15%);
    transition: all 1.5s;
}

.Hiddens {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-15%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.anmtion {
    position: fixed;
    z-index: 231;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-bac);
    transition: 1s;
}

.logo {
    position: absolute;
    color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo1 {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo1.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo1.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes loading-text-opacity {
    0% {
        opacity: 0
    }

    20% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.loading-container,
.loading {
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100%;
}

.loading-container {
    margin: 40px auto
}

.loading {
    border: 2px solid transparent;
    border-color: transparent #fff transparent #FFF;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}

#loading-text {
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    margin-top: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
}